<% provide(:about, "active") %>
<% provide(:title, "About") %>

<div class="about">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-12">
          <img alt="About" src="assets/portfolio/BSBandShot.jpg" class="about-image"/>
      </div>
    </div>
    <div class="row-fluid">
      <div class="about-text">
        <p>For the past 42 years, BeauSoleil avec Michael Doucet has been making some of the most potent and popular Cajun music on the planet. Born out of the rich Acadian ancestry of its members, and created and driven by bandleader Michael Doucet’s spellbinding fiddle playing and soulful vocals, BeauSoleil is notorious for bringing even the most staid audience to its feet. BeauSoleil’s distinctive sound derives from the distilled spirits of New Orleands jazz, blues rock, folk, swamp pop, Zydeco, country and bluegrass, captivating listeners from the Jazz and Heritage Festival in New Orleans, to Carnegie Hall, then all the way across the pond to Richard Thompson’s Meltdown Festival in England.</p>
      </div>
        <div class="band">
          <div class="band-bio">
            <img src="assets/portfolio/MDoucet.jpg" />
            <h3>Michael Doucet</h3>
            <h4>Fiddle, Mandolin, Accordion, Vocals</h4>
          </div>
          <div class="band-david">
            <img src="assets/portfolio/DDoucet.jpg" />
            <h3>David Doucet</h3>
            <h4>Tour Manager, Guitar, Ukelele, Vocals</h4>
          </div>
          <div class="band-bill">
            <img src="assets/portfolio/BBennet.jpg" />
            <h3>Bill Bennet</h3>
            <h4>Sound Engineer, Bass</h4>
          </div>
          <div class="band-bio">
            <img src="assets/portfolio/BWare.jpg" />
            <h3>Billy Ware</h3>
            <h4>Percussion</h4>
          </div>
          <div class="band-mitch">
            <img src="assets/portfolio/MReed.jpg" />
            <h3>Mitch Reed</h3>
            <h4>Fiddle, Bass</h4>
          </div>
          <div class="band-bio">
            <img src="assets/portfolio/TAlesi.jpg" />
            <h3>Tommy Alesi</h3>
            <h4>Drums</h4>
          </div>
        </div>
      </div>
      <div class="bamako">
        <div class="row-fluid">
        <img src="assets/portfolio/Bamako.jpg" class="thumbnail"/>
        <p>
          For their most recent studio release, 'From Bamako to Carencro', BeauSoleil teamed up with Nashville- based roots music label Compass Records. The title alludes to the cultural and migratory connection between Bamako, in Mali, West Africa, and Louisiana (symbolized in name by the Lafayette, LA. suburb of Carencro), a connection that draws a sonic bloodline back to BeauSoleil’s roots. On the album’s 11 tracks, the band performs with a resounding authenticity all the while bringing a refreshed playfulness to the genre—the fiddle, flat-picked guitar and accordion carry driving melodies over the two-step and waltz dance beats characteristic of their Cajun and Zydeco music, but not without the country, jazz and blues leanings that informed the genre in the 1920s. They channel the godfathers of other music as well by including a Cajun/La La- style reimagining of James Brown’s classic 1962 Live at the Apollo version of “I’ll Go Crazy” and a swing version of John Coltrane’s tune-de-force “Bessie’s Blues.” Guitarist David Doucet even tucks an occasional Lester Flatt-style bluegrass G-run into his highly melodic guitar solos.
        </p>
        </div>
      </div>
        <div class="about-text">
        <p>
          Since becoming the first Cajun band to win a GRAMMY with L’amour Ou La Folie (Traditional Folk Album – 1998) and then a second Grammy in 2010, Live at the New Orleans Jazz & Heritage Festival, BeauSoleil has garnered many accolades, including twelve GRAMMY nominations, the latest being their 2009 release Alligator Purse.
        </p>
        <p>
          “We’ve recorded a lot of albums, yet we always seem to come up with new songs saying things that haven’t been said,” comments bandleader Michael Doucet, “The diversity is really what excites me about this record – it’s nothing like we’ve done before and the songs are played only as we could play them. And it’s not just your smiling ‘let’s go eat some crawfish,’ Cajun album. We’re getting deeper into the layers in the psyche of the culture. It’s maturation.” The tracks taken from the album title, “Bamako,” a track contributed by the esteemed trombonist Roswell Rudd as a tribute to the people of Mali, and “Carencro,” a story about two French Louisiana lovers with bad timing and murderous intentions, again support Doucet’s message that “it takes all kinds to make a culture’s history survive.”
        </p>
        </div>
        <div class="about-michael">
          <img src="assets/portfolio/Michael.jpeg" class="img-responsive"/>
        <p>
          Though fascinated by music of all kinds, Michael Doucet is defined by his deep connection with, and dedication to, the music of the sacred French-Cajun culture. A Folk Arts Apprenticeship from the National Endowment of the Arts spurred Doucet to seek out every surviving Cajun musician and learn from them in person; he studied genre fathers Dewey Balfa, Dennis McGee, Sady Courville, Luderin Darbone, Varise Connor, Canaray Fontenot and many others, even inspiring some to return to publicly performing. In 2005 the National Endowment of the Arts again recognized Doucet’s integral involvement with the Cajun world, awarding him the esteemed National Heritage Fellowship as well as the United States Artists Fellowship in 2007.
        </p>
        <p>
          Doucet has gained acclaim by developing his own flavor of Cajun music and he and his band represent many ‘firsts’ for the genre. Early on they focused on the lead and twin fiddle styles of the originals of Acadian folk music over the more popular 1920s adoption of the German diatonic accordion. They performed with the communal integrity characteristic of early Cajun music, choosing to perform unplugged like a group of friends playing together in a Louisiana living room, rather than plugging in. They broke ground as the first band to feature an acoustic guitar as the lead instrument, replacing the lead accordion or steel guitar. They were the first to include the frottoir, the rub board borrowed from Cajun music’s Zydeco cousin, and they were the first to feature a female vocalist. All of these innovations were fueled by Doucet’s determination to rejuvenate Cajun and zydeco music, breathing into it a new relevance.
        </p>
        </div>
        <div class="about-old">
          <div class="old-1">
          <img src="assets/portfolio/OldBS.jpg" class="img-responsive" />
          </div>
          <img src="assets/portfolio/OldBSMichael.jpg" class="img-responsive" />
          <div class="old-2">
          <img src="assets/portfolio/OldBSJimmy.jpg" class="img-responsive" />
          </div>
        </div>
        <div class="about-text">
        <p>
          Indeed the band has achieved that goal and more, furthering the legacy and understanding of this unique American sub culture, performing in every state of the Union and in 33 countries. “When we first started, we were fortunate to have these great master musicians like Dennis McGee still living. We were able to play with them and hang out with them. Some of them were born before 1900. Now we’re the elders and that’s scary, as you can imagine,” reflects Doucet, “However we’re pretty proud of the voice that we’ve produced on this record as far as the watermark. You do what you feel and what you believe in. We pushed the envelope just for the hell of it and that’s just who we are. And you can dance to it at the same time.”
        </p>
      </div>
    </div>
  </div>
