<% provide(:contact, "active") %>
<% provide(:title, "Contact") %>
<div class="contact">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="contact-image">
        <img src="assets/portfolio/BSTrio2.jpg" />
      </div>
    </div>
      <div class="row-fluid">
        <div class="dynamic">
        <h3>Booking Through:</h3>
        <a href="http://dynamicartists.com/"><img src="assets/portfolio/dam.jpg" /></a>
        <h4>Brad Stewart</h4>
        <h4>510-558-4000</h4>
        </div>
        <div class="social">
          <h3>Social Media:</h3>
          <a href="https://www.facebook.com/BeauSoleilCajunBand"><img src="assets/portfolio/facebook.jpg" /></a>
          <a href="https://twitter.com/BeauSoleil_Band"><img src="assets/portfolio/twitter.png" /></a>
          <br />
          <h5>Website <a href="http://www.biubird.com/">biubird</a> 2017</h5>
      </div>
    </div>
  </div>
</div>
