<% provide(:discography, "active") %>
<% provide(:title, "Discography") %>

  <div class="discography">
    <div class="row-fluid">
      <a href="http://54.202.213.35/#/"><img src="assets/portfolio/albumapp.jpg"></a>
      <!-- <div class="col-md-12"> -->
      <h3>Click image to search albums and songs!</h3>
      <!-- </div> -->
    </div>
      <!-- <a href="http://54.202.213.35/#/"><img src="assets/portfolio/albumapp.jpg"></a> -->
  </div>
