<% provide(:discography, "active") %>
<% provide(:title, "Discography") %>

  <div class="discography">
  	  <div class="col-md-12">
      	<h3>Click images to learn more!</h3>
      </div>
    <div class="row-fluid">
    	<div class="albums">
          <div class="album-image">
          	<a href="https://www.amazon.com/Bamako-Carencro-Beausoleil/dp/B00AA9QJI8/ref=sr_1_1?s=music&ie=UTF8&qid=1480634219&sr=1-1&keywords=beausoleil+from+bamako+to+carencro"><img src="assets/portfolio/Bamako.jpeg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Alligator-Purse-Beausoleil/dp/B001KZLI8C/ref=sr_1_1?s=music&ie=UTF8&qid=1480634353&sr=1-1&keywords=beausoleil+alligator+purse"><img src="assets/portfolio/Alligator.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Make-Veiller-CD-DVD-Deluxe/dp/B0025X4P3S/ref=sr_1_1?s=music&ie=UTF8&qid=1480634414&sr=1-1&keywords=beausoleil+make+the+veiller"><img src="assets/portfolio/Veiller.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Encore-Best-Beausoleil-1991-2001/dp/B00007LTID/ref=sr_1_1?s=music&ie=UTF8&qid=1480634458&sr=1-1&keywords=beausoleil+encore+encore"><img src="assets/portfolio/Encore.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Best-Crawfish-Years-Beausoleil/dp/B00005PJBU/ref=sr_1_1?s=music&ie=UTF8&qid=1480634537&sr=1-1&keywords=beausoleil+best+of+the+crawfish+years"><img src="assets/portfolio/Crawfish.jpeg" />
          </div>
          <div class="album-image">
            <a href="https://www.discogs.com/Beausoleil-The-Very-Best-Of-Beausoleil/release/6688893"><img src="assets/portfolio/BestBeauSoleil.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Best-Beausoleil-BEAUSOLIEL/dp/B0000001LD/ref=sr_1_1?s=music&ie=UTF8&qid=1480634634&sr=1-1&keywords=beausoleil+best+of+beausoleil"><img src="assets/portfolio/BestBeauSoleilArh.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Vintage-Beausoleil/dp/B000003ITL/ref=sr_1_1?s=music&ie=UTF8&qid=1480634685&sr=1-1&keywords=beausoleil+vintage+beausoleil"><img src="assets/portfolio/Vintage.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Laissez-Bons-Temps-Rouler-Beausoleil/dp/B003QTBU3S/ref=sr_1_1?s=music&ie=UTF8&qid=1480634758&sr=1-1&keywords=beausoleil+laissez+bons+temps+rouler"><img src="assets/portfolio/Laissez.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Beausoleil-Live-Orleans-Heritage-Festival/dp/B00079I0AQ"><img src="assets/portfolio/Jazzfest.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Live-Louisiana-Michael-Doucet/dp/B000G8PC4U"><img src="assets/portfolio/LiveLouisiana.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Looking-Back-Beausoleil-Live/dp/B000056CE7"><img src="assets/portfolio/LookingBack.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Cajunization-Beausoleil/dp/B00124HTNE/ref=sr_1_1?s=music&ie=UTF8&qid=1480635388&sr=1-1&keywords=beausoleil+cajunization"><img src="assets/portfolio/Cajunization.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/LAmour-ou-Folie-Beau-Soleil/dp/B0000033Y5/ref=sr_1_1?s=music&ie=UTF8&qid=1480635475&sr=1-1&keywords=beausoleil+l%27amour+ou+la+folie"><img src="assets/portfolio/Lamour.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Arc-Triomphe-Two-Step-Beausoleil/dp/B000005HA8/ref=sr_1_1?s=music&ie=UTF8&qid=1480635562&sr=1-1&keywords=beausoleil+arc+de+triomphe"><img src="assets/portfolio/Arc.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/LEcho-Beausoleil/dp/B000005OKN/ref=sr_1_1?s=music&ie=UTF8&qid=1480635662&sr=1-1&keywords=beausoleil+l%27echo"><img src="assets/portfolio/Lecho.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Danse-Vie-Beausoleil/dp/B01M2A7AOL/ref=sr_1_2?s=music&ie=UTF8&qid=1480635749&sr=1-2&keywords=beausoleil+la+danse+de+la+vie"><img src="assets/portfolio/DanseDeLaVie.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Cajun-Conja-BEAUSOLEIL/dp/B006HH600O/ref=sr_1_1?s=music&ie=UTF8&qid=1480635846&sr=1-1&keywords=beausoleil+cajun+conja"><img src="assets/portfolio/CajunConja.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Bayou-Cadillac-Beausoleil/dp/B0000003BM/ref=sr_1_1?s=music&ie=UTF8&qid=1480635945&sr=1-1&keywords=beausoleil+bayou+cadillac"><img src="assets/portfolio/BayouCadillac.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Hot-Chili-Mama-Beausoleil/dp/B0000001N3/ref=sr_1_1?s=music&ie=UTF8&qid=1480636022&sr=1-1&keywords=beausoleil+hot+chili+mama"><img src="assets/portfolio/HotChili.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Belizaire-Original-Soundtrack-Michael-Beausoleil/dp/B004VQL936/ref=sr_1_4?s=music&ie=UTF8&qid=1480636228&sr=8-4&keywords=belizaire+the+cajun"><img src="assets/portfolio/Belizaire.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.discogs.com/Beausoleil-Zydeco-Gris-Gris/release/2207838"><img src="assets/portfolio/GrisGris.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Dit-Beausoleil/dp/B003TLRUQO/ref=sr_1_1?ie=UTF8&qid=1480694649&sr=8-1&keywords=beausoleil+dit+beausoleil"><img src="assets/portfolio/DitBeausoleil.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Bayou-Deluxe-Michael-Doucet-Beausoleil/dp/B0000032YC/ref=sr_1_1?ie=UTF8&qid=1480694731&sr=8-1&keywords=beausoleil+bayou+deluxe"><img src="assets/portfolio/BayouDeluxe.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Deja-Vu-Michael-Doucet-Beausoleil/dp/B00BKTU988/ref=sr_1_1?ie=UTF8&qid=1480694833&sr=8-1&keywords=beausoleil+deja+vu"><img src="assets/portfolio/DejaVu.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Live-Left-Coast-Beausoleil/dp/B0000003C6"><img src="assets/portfolio/LiveLeftCoast.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Bayou-Boogie-Beausoleil/dp/B0056D6N0C/ref=sr_1_1?ie=UTF8&qid=1480695073&sr=8-1&keywords=beausoleil+bayou+boogie"><img src="assets/portfolio/BayouBoogie.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Allons-Lafayette-Beausoleil-Michael-Doucet/dp/B004JKJYU4/ref=sr_1_1?ie=UTF8&qid=1480695141&sr=8-1&keywords=beausoleil+allons+a+lafayette"><img src="assets/portfolio/Allons.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Parlez-Nous-Boire-Beausoleil-Michael-Doucet/dp/B004JX5T1E/ref=sr_1_fkmr0_2?ie=UTF8&qid=1480695276&sr=8-2-fkmr0&keywords=beausoleil+parlez+nous+a+bore"><img src="assets/portfolio/Parlez.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.discogs.com/Beausoleil-The-Spirit-Of-Cajun-Music/release/3760090"><img src="assets/portfolio/Spirit.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Now-Michael-Doucet/dp/B00157DOPA"><img src="assets/portfolio/FromNowOn.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Mad-Reel-MICHAEL-BEAUSOLEIL-DOUCET/dp/B0000001JI"><img src="assets/portfolio/MadReel.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Hoogie-Boogie-Louisiana-French-Children/dp/B0000003FR"><img src="assets/portfolio/HoogieBoogie.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Michael-Doucet-Cajun-Brew/dp/B01EIUPA0M/ref=sr_1_fkmr0_1?ie=UTF8&qid=1480695787&sr=8-1-fkmr0&keywords=beausoleil+cajun+brew"><img src="assets/portfolio/CajunBrew.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Beau-Solo-MICHAEL-DOUCET/dp/B0000001GB"><img src="assets/portfolio/BeauSolo.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Christmas-Bayou-Michael-Doucet/dp/B00ILB108G/ref=sr_1_1?ie=UTF8&qid=1480696084&sr=8-1&keywords=michael+doucet+christmas+bayou"><img src="assets/portfolio/ChristmasBayou.jpg" />
          </div>
          <div class="album-image">
            <a href="http://www.cdbaby.com/cd/doucet"><img src="assets/portfolio/PeaceStories.jpg" />
          </div>
          <div class="album-image">
            <a href="https://www.amazon.com/Gitane-Cajun-Beausoleil/dp/B0002VER92"><img src="assets/portfolio/GitaneCajun.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
