<% provide(:media, "active") %>
<% provide(:title, "Media") %>

<div class="media">
  <div class="container-fluid">
    <div class="media-links">
      <div class="col-md-12">
        <div class="row-fluid">
          <h2>Series Links:</h2>
          <img src="assets/portfolio/bizarre.jpg" />
          <h3>Michael Doucet in Bizarre Foods (2017)
          <a href="http://www.travelchannel.com/shows/bizarre-foods">
          <h4>Link to Series</h4></a></h3>
          <br />
          <img src="assets/portfolio/onemiss.jpg" />
          <h3>One Mississippi (2016)
          <a href="https://www.amazon.com/One-Mississippi-Season-1/dp/B017APUVI8">
          <h4>Link to Series</h4></a></h3>
          <br />
          <img src="assets/portfolio/treme.jpg" />
          <h3>Final Season of HBO's <em>Treme</em> "Yes We Can" (2013)
          <a href="http://www.nola.com/treme-hbo/index.ssf/2013/12/treme_explained_yes_we_can_can.html"><h4>Link to Episode</h4></a></h3><br />
        </div>
          <div class="row-fluid">
          <h2>Audio Links:</h2>
          <img src="assets/portfolio/wnyc.jpg" />
          <div class="audio-player">
            <td height="40" colspan="2"><iframe width="400" height="54" frameborder="0" scrolling="No" src="//soundcheck.wnyc.org/widgets/ondemand_player/#file=http%3A%2F%2Fsoundcheck.wnyc.org%2Faudio%2Fxspf%2F300073%2F;containerClass=soundcheck"></iframe></div>
            </td><br />
            <img src="assets/portfolio/cbc.jpg" />
            <h3>C'est La Vie (2011)<a href="http://www.cbc.ca/cestlavie/episode/2011/11/18/november-20th-and-22nd-2011/">
            <h4>Link to Audio</h4></a></h3><br />
          </div>
          <div class="row-fluid">
            <h2>Video:</h2>
            <iframe width="560" height="315" class="video-frame" src="https://www.youtube.com/embed/ovWFTTN7uso" frameborder="0" allowfullscreen></iframe><br />
            <iframe width="560" height="315" class="video-frame" src="https://www.youtube.com/embed/-ihdOzR_5uY" frameborder="0" allowfullscreen></iframe><br />
            <iframe width="560" height="315" class="video-frame" src="https://www.youtube.com/embed/KBwRddleQJ8" frameborder="0" allowfullscreen></iframe><br />
        </div>
       </div>
     </div>
    </div>
  </div>
