<% provide(:press, "active") %>
<% provide(:title, "Press") %>

<div class="press">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="short">
        <h3>Since forming in 1975, Grammy winners BeauSoleil have claimed their undisputed role as the most esteemed Cajun group in music. BeauSoleil avec Michael Doucet take the rich Cajun traditions of Louisiana and artfully blend elements of zydeco, New Orleans jazz, French-Creole, country, blues and more into a satisfying musical recipe. From The Grand Ole Opry to Newport Folk, from concert hall to dance floor, the music of BeauSoleil continues to captivate audiences the world over.
       </h3>
     </div>
   </div>
   <div class="row-fluid">
     <div class="media_quotes">
       <h4><em><strong>&#8220;That&#8217;s my kind of music!&#8221;</strong></em> <strong>&#8211; Bob Dylan, upon listening to BeauSoleil during the New Orleans Jazz &amp; Heritage Festival</strong></h4>
     </div>
   </div>
   <hr />
   <div class="row-fluid">
     <div class="media_quotes">
       <h4><em><strong>&#8220;The remarkable thing about Cajun revivalists BeauSoleil is that&#8230;they are still inviting us to ask what&#8217;s new. BeauSoleil isn&#8217;t neo-anything. This ensemble finds </strong></em><em><strong>freshness not by infusing vintage styles with contemporary sonics but with vibrant, thoughtful fusions.&#8221;</strong></em> <strong>&#8211; The Boston Globe</strong></h4>
     </div>
   </div>
   <hr />
   <div class="row-fluid">
     <div class="media_quotes">
       <h4><em><strong>&#8220;Cajun music purists admire the fiddler Michael Doucet&#8217;s informed command of traditional Cajun music, while those who just want to party surrender to Beausoleil and boogie to classic Cajun two-steps, reels and a host of other rhythmic influences that have made this Grammy-winning Crescent City outfit one of the most colorful roots bands on the scene. Bon temps, every time they play.&#8221;</strong></em> <strong>&#8211; The New York Times</strong></h4>
     </div>
   </div>
   <hr />
   <div class="row-fluid">
     <div class="media_quotes">
       <h4><em><strong>&#8220;The Best Cajun Band in the World!&#8221;</strong></em> <strong>&#8211; Garrison Keillor, Prairie Home Companion</strong></h4>
     </div>
   </div>
   <hr />
   <div class="row-fluid">
     <div class="media_quotes">
       <h4><em><strong>&#8220;Beausoleil avec Michael Doucet, they play music that's honest to the bone !&#8221;</strong></em> <strong>&#8211; Allen Toussaint</strong></h4>
     </div>
   </div>
   <hr />
   <div class="row-fluid">
     <div class="media_photos">
       <a href="https://www.whereyat.com/40-years-of-beausoleil3"><img src="assets/portfolio/whereyat.jpg" /></a>
     </div>
      <div class="media_photos">
       <a href="http://www.offbeat.com/articles/beausoleils-40-year-journey"><img src="assets/portfolio/offbeat.jpg" /></a>
     </div>
     <div class="media_photos">
      <a href="http://www.offbeat.com/articles/beau-brothers/"><img src="assets/portfolio/offbeat2.jpg" /></a>
    </div>
     </div>
    <div class="row-fluid">
      <div class="news_logos">
        <h3>More Links to Articles:</h3>
        <a href="http://articles.chicagotribune.com/keyword/beausoleil"><img src="assets/portfolio/chicagotribunelogo.jpg" /></a>
        <a href="http://www.washingtonpost.com/wp-dyn/content/article/2009/02/26/AR2009022601095.html"><img src="assets/portfolio/washingtonpost.jpg" /></a>
        <a href="http://articles.latimes.com/keyword/michael-doucet"><img src="assets/portfolio/latimes.jpg" /></a>
      </div>
    </div>
    <div class="row-fluid">
      <div class="row_awards">
        <div class="awards">
          <img src="assets/portfolio/grammy2.jpg" /><br />
          <p><strong>GRAMMY AWARDS BEAUSOLEIL</strong><br />
          &#9733;2010 Nominee for <a href="AlligatorPurse.html"><em><strong>Alligator Purse</strong></em></a> - Best Zydeco or Cajun Music Album
          - their 12th GRAMMY Nomination<br />
          &#9733;2009 Winner for <em><strong>Live at the New Orleans Jazz & Heritage Festival </strong></em>- Best Zydeco or Cajun Music Album<br />
          &#9733;1998 Winner for<em><strong> L'Amour Ou La Folie</strong></em> - Best Traditional Folk Album
          <p><strong>GRAMMY AWARD MICHAEL DOUCET</strong><br />
            &#9733;
            2009 Nomine for <em><strong>From Now On</strong></em> - Best Zydeco or Cajun Music Album</p>
        </div>
        <div class="awards">
          <img src="assets/portfolio/bob.jpg" /><br />
          <p><strong>OFFBEAT MAGAZINE BEST OF THE BEAT AWARDS
            </strong><br />
            &#9733;
            2012 Nominee - Michael Doucet - Best Violinist/Fiddler
            <br />
            &#9733;
            2011 Winner - BeauSoleil - Best Cajun Artist
          - an amazing 13th Award Win in this category
            <br />
            &#9733;
            2010 Winner - <em>Alligator Purse</em> - Best Cajun Album
            <br />
            &#9733;
            2009 Winner - Michael Doucet - Best Violinist/Fiddler
        </div>
      </div>
    </div>
  </div>
</div>
